<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/contacto.css">
    <title>Contacto</title>
</head>
<body>
    <body>
        <div class="contacto">
            <h4>Contacto</h4>
            <form action="/contacto" method="POST">
                Nombre:
                <input class="datos" id="nombre" type="text" placeholder="nombre" class="form-control ,y-2"></br>
                Correo:
                <input class="datos" id="correo" type="email" placeholder="correo" class="form-control ,y-2"></br>
                Telefono:
                <input class="datos"id="telefono" type="text" " placeholder="telefono" class="form-control ,y-2"></br>
                mensaje
                <input class="datosbox"id="mensaje" type="text" placeholder="mensaje" class="form-control ,y-2"></br>
                
                <button id=boton" class="btn btn-success" type="reset" onclick="capturar();">Enviar</button>
                
            </form>

</body>
</html>