* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ingresarProducto {
    width: 400px;
    background: #ABDEE6;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.ingresarProducto h4{
    font-size: 22px;
    margin-bottom: 20px;


}
.ingresarProducto p{

    height: 48px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}
.datos{

    width: 100%;
    background: #CBAACB;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}